name: Build and Deploy with Docker Compose

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v4

      - name: Build and start containers
        run: |
          docker compose pull || true
          docker compose build --no-cache
          docker compose up -d

